
{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}List your property for free | onlease{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link rel="stylesheet" href="{% static 'lodging/create_lodging.css' %}">
    <link rel="stylesheet" href="{% static 'css/indeterminate_progress.css' %}">
    <link rel="stylesheet" href="{% static 'css/image-upload.css' %}">
    {{sub_form.media.css}}
{% endblock head %}
{% block script %}
    {{sub_form.media.js}}
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
    <script src="{% static 'lodging/create_lodging.js' %}"></script>
    <script src="{% static 'js/image_field.js' %}"></script>
    <script src="{% static 'js/image-upload.js' %}"></script>
{% endblock script %}

{% block content %}
    
    <div class="container col-12 col-sm-10 col-md-9 col-lg-8 col-xl-7">
        <form action="{% url 'lodging:create' %}" enctype="multipart/form-data" method="post" novalidate class="mt-5">
            {% csrf_token %}
            <p class="h4 text-center">
                <i class="fa fa-plus"></i> List your property</p>

            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}

            <div data-target="#basic-details" data-toggle="collapse" class="toggler">
                Basic Details
                <i class="fa fa-caret-down caret"></i>
            </div>
            <div id="basic-details" class="collapse show details">
                {% include 'fields/field.html' with icon='tag' classes="col-12" field=sub_form.title placeholder="Title" length="20" %}
                {% include 'fields/select2.html' with field=sub_form.region classes="col-12 col-sm-6" dataPlaceholder="e.g. karol bagh" %}
                {% include 'fields/select2.html' with field=form.lodging_type %}
                {% include 'fields/field.html' with classes="col-12" icon="address-card" field=form.address placeholder="Address" %}
                {% include 'fields/field.html' with classes="col-12 col-sm-7" icon="calendar" field=sub_form.available_from placeholder="Avaialble From" datepicker="t" %}
                {% include 'fields/select2.html' with classes="col-12 col-sm-6" field=sub_form.lodging_type dataPlaceholder="e.g. flat" %}
                {% include 'fields/select_field.html' with classes="col-12 col-sm-6" field=sub_form.lodging_type_other placeholder="e.g. flat" %}
                <select name="total_floors" id="id_total_floors"></select>
                <select name="floor_no" id="id_floor_no"></select>
            </div>

            <div data-target="#property-details" data-toggle="collapse" class="toggler">
                Prperty Details
                <i class="fa fa-caret-down caret"></i>
            </div>
            <div id="property-details" class="collapse details">
                {{sub_form.furnishing}}
                {{sub_form.facilities}}
                {{sub_form.area}}
                {{sub_form.area_unit}}
                {{sub_form.bathrooms}}
                {{sub_form.balconies}}
                {{sub_form.other_rooms}}
                {{sub_form.halls}}
            </div>

            <div data-target="#pricing-details" data-toggle="collapse" class="toggler">
                Pricing Details
                <i class="fa fa-caret-down caret"></i>
            </div>
            <div id="pricing-details" class="collapse details">
                {% include 'fields/field.html' with classes="col-12 col-sm-5" icon="inr" field=sub_form.rent placeholder="Rent" %}
                {% include 'fields/field.html' with classes="col-12 col-sm-5" icon="inr" field=sub_form.security_deposit placeholder="Security Deposit" %}
                {% include 'fields/field.html' with classes="col-12 col-sm-5" icon="inr" field=sub_form.booking_amount placeholder="Booking Amount" %}
            </div>
            
            <div data-target="#additional-details" data-toggle="collapse" class="toggler">
                Additional Details
                <i class="fa fa-caret-down caret"></i>
            </div>
            <div id="additional-details" class="collapse details">
                {% include 'fields/image_field.html' with field=sub_form.images %}
                {{sub_form.flooring}}
                {% include 'fields/field.html' with classes="col-12" icon="info-circle" field=sub_form.additional_details placeholder="Details" length="2000" textarea="t" field_class="md-textarea" %}
            </div>
            {% endwith %}

            <div class="text-center mt-4">
                <button class="btn btn-primary btn-md" type="submit">
                    <i class="fa fa-plus icon"></i> Add</button>
            </div>

        </form>
    </div>
    <script>
        var csrf_token = "{{csrf_token}}";
        var url = "{% url 'lodging:image-upload' ad_type='lodging' %}";
        var lodging_url = "{% url 'lodging:temporary' %}"
        var width = 900;
        var height = 500;
    </script>
{% endblock %}