
{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Update lodging{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/css/bootstrap/zebra_datepicker.min.css">
    <link rel="stylesheet" href="{% static 'lodging/edit_lodging.css' %}">
{% endblock head %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/zebra_datepicker/dist/zebra_datepicker.min.js"></script>
    <script src="{% static 'lodging/edit_lodging.js' %}"></script>
    <script src="{% static 'js/zebra_datepicker.js' %}"></script>
    <script src="{% static 'lodging/image_field.js' %}"></script>
{% endblock script %}

{% block content %}
    <div class="container col-sm-10 col-md-9 col-lg-7 col-xl-6">
        <form action="{{ request.path }}" enctype="multipart/form-data" method="post" novalidate class="mt-5">
            {% csrf_token %}
            <p class="h4 text-center mb-4">Update lodging business</p>

            {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                        <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <input name="update" type="hidden" value="0">
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}

                <div class="form-row">
                    <div class="md-form col-12 col-sm-6">
                        {% render_field sublodging_form.total_floors|append_attr:"autofocus" id="total_floors" class+="form-control" %}
                        <label for="total_floors">Total floors</label>
                        {% if sublodging_form.total_floors.errors %}
                            <div class="error"><small>{{sublodging_orm.total_floors.errors.0}}</small></div>
                        {% else %}
                            <small class="text-muted">{{sublodging_form.total_floors.help_text}}</small>
                        {% endif %}
                    </div>

                    <div class="md-form col-12 col-sm-6">
                        {% render_field sublodging_form.floor_no id="floor_no" class+="form-control" %}
                        <label for="floor_no">Floor number</label>
                        {% if sublodging_form.floor_no.errors %}
                            <div class="error"><small>{{sublodging_form.floor_no.errors.0}}</small></div>
                        {% else %}
                            <small class="text-muted">{{sublodging_form.floor_no.help_text}}</small>
                        {% endif %}
                    </div>

                    <div class="md-form col-12 col-sm-7">
                        <i class="fa fa-calendar prefix"></i>
                        {% render_field sublodging_form.available_from class+="form-control datepicker"%}
                        <label for="id_available_from">Available from</label>
                        {% if sublodging_form.available_from.errors %}
                            <div class="error"><small>{{sublodging_form.available_from.errors.0}}</small></div>
                        {% else %}
                            <div class="form-text">
                                <small class="text-muted">Date when lodging will be available for rent. Can be any future value.</small>
                            </div>
                        {% endif %}
                    </div>

                    <div class="md-form col-12 col-sm-5">
                        <i class="fa fa-inr prefix"></i>
                        {% render_field sublodging_form.rent id="rent" class+="form-control" %}
                        <label for="rent">Rent</label>
                        {% if sublodging_form.rent.errors %}
                            <div class="error"><small>{{sublodging_form.rent.errors.0}}</small></div>
                        {% endif %}
                    </div>

                    <div class="md-form col-12">
                            <i class="fa fa-pencil prefix"></i>
                        {% render_field sublodging_form.additional_details id="additional_details" class+="form-control" %}
                        <label for="additional_details">Additional details</label>
                        {% if sublodging_form.additional_details.errors %}
                            <div class="error"><small>{{sublodging_form.additional_details.errors.0}}</small></div>
                        {% endif %}
                    </div>

                    <div class="col-12 col-sm-4 mt-2">
                        {% render_field sublodging_form.is_furnished class+="option-input checkbox ml-0" %}
                        <label for="id_is_furnished" class="label align-top">
                            Furnished?
                        </label>
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        {% render_field sublodging_form.is_parking_available class+="option-input checkbox" %}
                        <label for="id_is_parking_available" class="label align-top">
                            Parking available?
                        </label>
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        {% render_field sublodging_form.is_kitchen_available class+="option-input checkbox" %}
                        <label for="id_is_kitchen_available" class="label align-top">
                            Kitchen available?
                        </label>
                    </div>
                    <small class="text-muted col-12">Select which are available</small>
                </div>
                <div id="images_container">

                </div>
                <div class="md-form">
                        <i class="fa fa-file-image"></i>
                    <span class='btn btn-sm btn-primary ml-0' id="add_image">
                        <i class="fa fa-file-image-o icon"></i> Add image</span>
                </div>
            {% endwith %}
            {{formset.management_form}}
            <div class="text-center mt-4">
                <button class="btn btn-unique btn-md" type="submit">
                    <i class="fa fa-edit icon"></i> Update</button>
                <button class="btn btn-danger btn-md" id="delete">
                    <i class="fa fa-remove icon"></i> Delete</button>
            </div>

        </form>
    </div>
{% endblock %}