<form class="change-password-form" (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
  <h2>Change Password</h2>
  <mat-form-field class="w-100">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" required formControlName="current_password">
    <mat-error *ngIf="changePasswordForm.get('current_password')!.hasError('required')">
      Current password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>New Password</mat-label>
    <input matInput required type="password" formControlName="new_password">
    <mat-error *ngIf="changePasswordForm.get('new_password')!.hasError('required')">
      New password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Confirm new Password</mat-label>
    <input matInput required type="password" formControlName="confirm_password">
    <mat-error *ngIf="changePasswordForm.get('confirm_password')!.hasError('required')">
      Confirm new password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" [disabled]="!changePasswordForm.valid">Submit</button>
</form>
