/* line 1, apps/ads/static/ads/ads_view.scss */
.business-choice {
  background: green;
  color: white;
  font-weight: 600;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

/* line 11, apps/ads/static/ads/ads_view.scss */
.business-choice.active {
  background: white;
  color: green;
  border: 1px solid green; }

/* line 16, apps/ads/static/ads/ads_view.scss */
.search-element {
  width: 100%;
  height: 40px;
  vertical-align: middle; }

/* line 21, apps/ads/static/ads/ads_view.scss */
.select2-container--default .select2-selection--multiple {
  border-radius: 0;
  height: 35px; }

/* line 25, apps/ads/static/ads/ads_view.scss */
.ol-image {
  width: 270px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

/* line 32, apps/ads/static/ads/ads_view.scss */
#ads_wrapper {
  margin: 0;
  padding: 20px;
  text-align: center; }

/* line 37, apps/ads/static/ads/ads_view.scss */
#ads_wrapper .card {
  margin-top: 1rem;
  max-width: 270px !important; }

/* line 41, apps/ads/static/ads/ads_view.scss */
.filter-nav {
  align-self: center; }

/* line 44, apps/ads/static/ads/ads_view.scss */
#main-container {
  display: flex;
  flex-direction: column; }

/* line 48, apps/ads/static/ads/ads_view.scss */
.location-detail {
  position: absolute;
  right: 0px;
  color: blue;
  background-color: aliceblue; }

/* line 54, apps/ads/static/ads/ads_view.scss */
.location-search {
  padding: 0.8rem 1.5rem 0.6rem 1.5rem; }

@media (min-width: 768px) {
  /* line 58, apps/ads/static/ads/ads_view.scss */
  .selectize-input.items {
    height: 40px; } }
