.card-wrapper{
    padding: 25px;
    width: 100%;
}
.container-fluid{
    margin-left: 0;
    padding-left: 6%;
    padding-right: 6%; 
}
.card-header{
    padding: 0.5rem 0.8rem;
    font-size: 0.9rem;
}
.btn-small{
    padding: 0.3rem 0.7rem !important;
    font-weight: 600;
}
.card-footer{
    padding: 0.3rem 0.5rem;
}
.card-body{
    padding: 0.2rem;
}
p{
    margin-bottom: 0.1rem;
}
.color{
    color: #37474F;
}
@media only screen and (min-width: 520px){
    .card-wrapper{
        padding: 5px;
        width: 33.33%;
    }
}
@media only screen and (min-width: 990px){
    .card-wrapper{
        padding: 5px;
        width: 25%;
    }
}