.refund{
    cursor: none;
}
.refund:hover{
    cursor: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 2px solid #2bbbad!important;
    background-color: transparent!important;
    color: #2bbbad!important;
    font-size: 0.9rem;
}
.refund.btn:not(:disabled):not(.disabled) {
    cursor: text;
}
.container-fluid {
    margin-left: 0;
}