{% load widget_tweaks %}
<div class="md-form {{classes}}">
    {% if icon %}
    <i class="fa fa-{{icon}} prefix"></i>
    {% endif %}
    {% if length %}
    {% render_field field class+="form-control" class+=field_class placeholder=placeholder length=length %}
    {% else %}
    {% render_field field class+="form-control" class+=field_class placeholder=placeholder%}
    {% endif %}
    <label for="{{field.id}}">{{field.label}}</label>
    {% if datepicker %}
    <div id="datepicker-container"></div>
    {% endif %}
    {% if field.errors %}
        <div class="error"><small>{{field.errors.0}}</small></div>
    {% endif %}
    {% if field.help_text %}
    <div class="form-text">
        <small class="text-muted">{{field.help_text}}</small>
    </div>
    {% endif %}
</div>

{% comment %} 

icon - prefix icon
classes - classes to be added to fieldset
field - form field
placeholder - placeholder attribute of field

{% endcomment %}