<div class="row p-1 p-md-5 pt-2">
  <div class="col-12 col-md-8">
    <div class="box mb-4" *ngIf="lodging.virtual_tour_link != ''">
      <iframe class="ku-embed" frameborder="0" scrolling="no"
        allowfullscreen allow="xr-spatial-tracking; gyroscope; accelerometer" 
        [src]="tourLink"
      ></iframe>
    </div>
    <div class="box">
      <div class="content">
        <div style="position: absolute; top: 20px; color: gray; font-weight: bold;">{{tagText(lodging.images[currImage])}}</div>
        <carousel #carousel arrowsTheme="dark" cellWidth="100%" [dots]="true" [height]="400" [arrowsOutside]="true">
          <ng-container *ngFor="let image of lodging.images">
            <div class="carousel-cell">
              <lib-ngx-image-zoom [thumbImage]="image.image"></lib-ngx-image-zoom>
            </div>
          </ng-container>
        </carousel>
      </div>
    </div>
    <div class="box mt-4 p-3">
      <h2><fa-icon [icon]="['fas', 'info-circle']" class="mr-2"></fa-icon> Details</h2>
      <div class="row container">
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Location:</span>
          <span class="value">{{lodging.address.google_place_main_text}} ({{lodging.address.google_place_secondary_text}})</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Floor:</span>
          <span class="value"><b>{{lodging.floor_no}}</b> out of <b>{{lodging.total_floors}}</b> floors</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Area:</span>
          <span class="value">{{lodging.area}} {{areaUnit}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Type:</span>
          <span class="value">{{type}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Furnishing:</span>
          <span class="value">{{furnishing}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Bathrooms:</span>
          <span class="value">{{lodging.bathrooms}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Rooms:</span>
          <span class="value">{{lodging.rooms}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Balconies:</span>
          <span class="value">{{lodging.balconies}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Halls:</span>
          <span class="value">{{lodging.halls}}</span>
        </div>
        <div class="col-6 col-md-4 mb-3">
          <span class="name">Flooring:</span>
          <span class="value">{{flooring}}</span>
        </div>
      </div>
    </div>
    <div class="box mt-4 p-3" *ngIf="lodging.additional_details.length > 0">
      <h2><fa-icon [icon]="['fas', 'info-circle']" class="mr-2"></fa-icon> Additional details</h2>
      <div>{{lodging.additional_details}}</div>
    </div>
    <div class="box mt-4 p-3" *ngIf="lodging.posted_by">
      <h2><fa-icon [icon]="['fas', 'address-book']" class="mr-2"></fa-icon> Contact Details</h2>
      <div class="mb-3">
        <span class="name">Address: </span>
        <span class="value">{{lodging.address.text}}</span>
      </div>
      <div>
        <span class="name">Phone numbers: </span>
        <span class="value">{{phoneNumbers}}</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="box p-3 mt-4 mt-md-0">
      <h2><fa-icon [icon]="['fas', 'money-bill']" class="mr-2"></fa-icon> All Charges</h2>
      <div class="row mb-3" *ngFor="let charge of charges">
        <span class="col name">{{charge.text}}</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{charge.amount}} ({{charge.is_per_month ? 'per month' : 'one time'}})
        </span>
      </div>
      <hr>
      <div class="row mb-3">
        <span class="col name">Rent on first month</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{firstMonthRent}}
        </span>
      </div>
      <div class="row mb-3">
        <span class="col name">Rent from second month onwards</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{oneMonthRent}}
        </span>
      </div>
      <hr>
      <div class="row mb-3">
        <span class="col name"><b>Booking amount</b> ({{brokerage}}% brokerage)</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{bookingAmt}}
        </span>
      </div>
    </div>
    <div class="box p-3 mt-4" *ngIf="lodging.agreement">
      <h2><fa-icon [icon]="['fas', 'handshake']" class="mr-2"></fa-icon> Agreement</h2>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let point of lodging.agreement.points">
          {{point.text}}</mat-list-item>
      </mat-list>
      <hr>
      <mat-checkbox [(ngModel)]="agreeToTandC" (ngModelChange)="onAgreementChange($event)" color="primary">
        I agree to above terms and conditions of owner.</mat-checkbox>
      <mat-error class="d-block">{{agreementError}}</mat-error>
    </div>
    <div class="mt-4">
      <div *ngIf="lodging.is_booked || lodging.isHidden; else loginTestConfirmAndBook">
        <button class="w-100" type="button" disabled>Already booked</button>
      </div>
      <ng-template #loginTestConfirmAndBook>
        <div *ngIf="!isLoggedIn; else testConfirmAndBook">
          <button class="w-100" mat-raised-button color="primary" [routerLink]="['/user/login']" type="button">
            <i class="fas fa-lock"></i> Login to book
          </button>
        </div>
        <ng-template #testConfirmAndBook>
          <!-- <div *ngIf="needToConfirm; else book">
            <button class="w-100" mat-raised-button color="primary" (click)="confirmVaccant()" type="button">Confirm vaccant</button>
            <small class="help-text">Confirming vaccancy before booking is required. We will send an sms to your number after confirmation for further steps.</small>
          </div>
          <ng-template #book> -->
            <div>
              <button class="w-100" mat-raised-button color="accent" (click)="bookLodging()" type="button">Book now</button>
              <small class="help-text">Availabe from: </small>
            </div>
          <!-- </ng-template> -->
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>