::ng-deep {
  @media only screen and (max-width: 800px) {
    .content {
      padding: 10px 30px;
  
      .carousel-arrow {
        height: 20px!important;
        width: 20px!important;
        background-size: 20px!important;
      }
      
      .carousel-arrow-next {
        right: -25px!important;
      }
      
      .carousel-arrow-prev {
        left: -25px!important;
      }
  
    }
    
    .ku-embed {
      height: 400px;
    }
  }
  .ngxImageZoomContainer {
    width: 100%!important;
    height: 100%!important;
  }
}

@media only screen and (min-width: 800px) {
  .content {
    padding: 60px 120px;
  }
    
  .ku-embed {
    height: 600px;
  }
}

.box {
  box-shadow: 0 8px 32px rgb(0 0 0 / 10%), 0 2px 8px rgb(0 0 0 / 10%);
  border-radius: 10px;

  .ku-embed {
    width: 100%;
  }
}
.content {
  display: flex;
  justify-content: center;
  position: relative;

  .carousel-cell {
    img {
      width: inherit!important;
      height: inherit;
      max-width: 100%!important;
      max-height: 100%;
    }
  }
}

@media only screen and (min-width: 800px) {
  .content {
    padding: 60px 120px;
  }
    
  .ku-embed {
    height: 600px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;

  .rent {
    color: green;
  }
}

.details {
  color: gray;
  div {
    fa-icon {
      margin-right: 10px;
    }
  }
}

.value {
  margin-left: 5px;
  font-weight: bold;
}

.name {
  
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

h2 {
  fa-icon {
    color: gray;
  }
}