<div class="row p-5">
  <div class="col-8">
    <div class="box">
      <div class="content">
        <div style="position: absolute; top: 40px; color: gray; font-weight: bold;">{{tagText(lodging.images[currImage])}}</div>
        <carousel #carousel arrowsTheme="dark" cellWidth="100%" [dots]="true" [height]="400" [arrowsOutside]="true">
          <ng-container *ngFor="let image of lodging.images">
            <div class="carousel-cell">
              <img [src]="image.image" alt="">
            </div>
          </ng-container>
        </carousel>
      </div>
    </div>
    <div class="box mt-4 p-3">
      <h2>Details</h2>
      <div class="row container">
        <div class="col-4">
          <span class="name">Location:</span>
          <span class="value">{{lodging.region?.name}} ({{lodging.region?.state?.name}})</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Floor:</span>
          <span class="value"><b>{{lodging.floor_no}}</b> out of <b>{{lodging.total_floors}}</b> floors</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Area:</span>
          <span class="value">{{lodging.area}} {{areaUnit}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Type:</span>
          <span class="value">{{type}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Furnishing:</span>
          <span class="value">{{furnishing}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Bathrooms:</span>
          <span class="value">{{lodging.bathrooms}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Rooms:</span>
          <span class="value">{{lodging.rooms}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Balconies:</span>
          <span class="value">{{lodging.balconies}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Halls:</span>
          <span class="value">{{lodging.halls}}</span>
        </div>
        <div class="col-4 mb-3">
          <span class="name">Flooring:</span>
          <span class="value">{{flooring}}</span>
        </div>
      </div>
    </div>
    <div class="box mt-4 p-3" *ngIf="lodging.additional_details.length > 0">
      <h2>Additional details</h2>
      <div>{{lodging.additional_details}}</div>
    </div>
    <div class="box mt-4 p-3" *ngIf="lodging.posted_by">
      <h2>Contact Details</h2>
      <div class="mb-3">
        <span class="name">Address: </span>
        <span class="value">{{lodging.address}}</span>
      </div>
      <div>
        <span class="name">Phone numbers: </span>
        <span class="value">{{phoneNumbers}}</span>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="box p-3">
      <h2>All Charges</h2>
      <div class="row mb-3">
        <span class="col name">Rent</span>
        <span class="col value"><fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{lodging.rent}} (per month)</span>
      </div>
      <div class="row mb-3">
        <span class="col name">Security</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{lodging.rent*(lodging.advance_rent_of_months-1)}} (one time)
        </span>
      </div>
      <div class="row mb-3" *ngFor="let charge of lodging.charges">
        <span class="col name">{{charge.description}}</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{charge.amount}} ({{charge.is_per_month ? 'per month' : 'one time'}})
        </span>
      </div>
      <hr>
      <div class="row mb-3">
        <span class="col name">Rent on first month</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{firstMonthRent}}
        </span>
      </div>
      <div class="row mb-3">
        <span class="col name">Rent from second month onwards</span>
        <span class="col value">
          <fa-icon [icon]="['fas', 'rupee-sign']"></fa-icon>{{oneMonthRent}}
        </span>
      </div>
    </div>
    <div *ngIf="!lodging.posted_by" class="mt-3">
      <div *ngIf="lodging.is_booked || lodging.isHidden; else confirmAndBook">
        <button class="w-100" type="button" disabled>Already booked</button>
      </div>
      <ng-template #confirmAndBook>
        <div *ngIf="needToConfirm; else book">
          <button class="w-100" mat-raised-button color="primary" (click)="confirmVaccant()" type="button">Confirm vaccant</button>
          <small class="help-text">Confirming vaccancy before booking is required. We will an send sms to your number after confirmation for further steps.</small>
        </div>
        <ng-template #book>
          <div>
            <button class="w-100" mat-raised-button color="accent" (click)="bookLodging()" type="button">Book now</button>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>