{% load static %}
{% load widget_tweaks %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% endblock %}</title>
    {% include 'common_style_sheets.html' %}
    <link rel="stylesheet" href="{% static 'ads/ads_view.css' %}">
    {% block head %}{% endblock %}
  </head>
  <body class="padding-top-3">

    {% include 'forms/change_password_form.html' %}
    {% include 'forms/enter_number_form.html' %}
    {% include 'forms/login_form.html' %}
    {% include 'forms/property_ad_form.html' %}
    {% include 'forms/register_form.html' %}
    {% include 'forms/roomie_ad_form.html' %}
    {% include 'forms/set_password_form.html' %}
    {% include 'forms/user_profile_form.html' %}
    {% include 'forms/verify_number_form.html' %}

    {% include 'common_global_elements.html' %}


    <div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content mobile">
          <div class="modal-header">
            <h5 class="modal-title" id="filters">Filters</h5>
            <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
              close <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{% url 'ads:ads-view' %}" method="GET">
            <div class="modal-body" id="id_business_mobile">
              
              <div class="col-12 p-0" id="id_region_mobile">
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-default m-0 search p-0 search-element">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>

        
    <div id="main-container">

      {% include 'nav.html' %}

      <div class="filters mobile btn btn-primary" data-target="#filters" data-toggle="modal">
        <div class="filter-toggler text-uppercase">
          <i class="fa fa-filter"></i> Change filters
        </div>
      </div>

      <div class="container-fluid mt-4">
        <form action="{% url 'ads:ads-view' %}" method="GET" 
          class="row filter-nav desktop justify-content-center"
          id="id_business_desktop">
          
          <div class="col-8 p-0" id="id_region_desktop">
            
          </div>
          <div class="col-2 p-0">
            <button type="submit" class="btn btn-default m-0 search p-0 search-element">Search</button>
          </div>
        </form>
      </div>
                
      {% block content %}{% endblock %}

      {% include 'footer.html' %}

    </div>

    {% include 'common_script.html' %}
    <script src="{% static 'ads/ads_view.js' %}"></script>
    {% block script %}{% endblock %}

    <script>
      var regions_selected = {{regions | safe}};
    </script>

  </body>
</html>
