<form class="profile-form" (ngSubmit)="saveProfile()" [formGroup]="profileForm">
  <h2>My Profile</h2>
  <mat-form-field class="w-100">
    <mat-label>Mobile Number</mat-label>
    <input matInput disabled type="tel" value="{{user.mobile_number}}">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>First Name</mat-label>
    <input matInput type="text" formControlName="first_name">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" formControlName="last_name">
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <div class="gender">
    <label>Gender: </label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button class="ml-5" value="1">Male</mat-radio-button>
      <mat-radio-button class="ml-3" value="2">Female</mat-radio-button>
    </mat-radio-group>
  </div>
  <button type="submit" mat-raised-button color="accent" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr>
<div class="profile-form">
  <h2>My Mobile Numbers</h2>
  <div class="mobile-number" *ngFor="let number of user.mobile_numbers">
    <span>{{number}}</span>
  </div>
  <button type="button" mat-raised-button color="accent"
    [disabled]="user.mobile_numbers.length > 2" [routerLink]="['/user/me/add-number']">
    Add new number</button>
</div>
