.verify-otp-form {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: 10px;

  button {
    margin-top: 20px;
    margin-right: 10px;
  }

  .time-remaining {

  }
}
