{% extends 'base_templates/base_template_1.html' %} 
{% load widget_tweaks %} 
{% block title %}OnLease{% endblock %} 
{% load static %} 
{% load compress %}
{% load i18n %} 
{% block home_active %} active {% endblock %} 
{% block head %}
{% compress css %}
<link href="{% static 'home/landing-page.scss' %}"  type="text/x-scss" rel="stylesheet" />
{% endcompress %}
{% endblock %} 
{% block script %}
<script src="{% static 'home/landing-page.js' %}"></script>
{% endblock %} 
{% block content %}
<div class="container d-flex">
  <img src="{% static 'images/kari-shea-180802-unsplash_desktop.jpg' %}" alt="">
  <div class="business z-depth-2 col-12 col-md-10 col-lg-9 col-xl-8">
    <form novalidate class="w-100" name="searchForm" action="{% url 'ads:ads-view' %}" method='GET'>
      <!-- {% comment %}<div class="business-choices">
        <div class="business-choice active" id="property">Property</div>
        <div class="business-choice" id="mates">Mates</div>
      </div> {%endcomment%} -->
      <!-- {% comment %} {{form.types}} {% endcomment %} -->


      {{form.business}}

      <div class="input-group mt-2 row ml-0 mr-0 d-flex justify-content-center">
        <!-- {% comment %}
        <div class="input-group-prepend col-3 p-0">
          <span class="input-group-text w-100" id="search-filter">
            Add Filters
            <i class="fa fa-caret-down caret"></i>
          </span>
          <div class="filter-arrow-up hide"></div>
          <div class="filters hide">
            <div class="rent-range">
              <div>Rent Range:</div>
              <div class="row mt-2">
                {{form.min_rent|attr:"class:col-5 form-control"}}
                <div class="col-2">-</div>
                {{form.max_rent|attr:"class:col-5 form-control"}}
              </div>
              <input type="text" class="span2">
              <hr>
            </div>
            <div class="property-types">
              <div>Property Type:</div>
              <div class="row mt-2">
                <i class="fa fa-home prefix-large col-1 p-0 prefix"></i>
                {{form.types|attr:"data-placeholder:e.g. flat"}}
              </div>
            </div>
          </div>
        </div> {% endcomment %} -->
        <div id="location_search_container" class="text-align-left">
            <select name="regions" 
              id="id_region" 
              class="w-100 h-40" 
              multiple="multiple" 
              data-placeholder="Search location...">
            </select>
        </div>
        <button type="submit" id="search_button" 
          class="h-40 btn m-0 search">Search</button>
      </div>
    </form>
  </div>
</div>
<script>
  var location_url = "{% url 'locations:regions2' %}";
</script>
{% endblock %}