$onlease-footer-background-color: #c9d2d8;
$onlease-header-color: black;
$onlease-header-color-transparent: rgba(0,0,0,0.5);
$onlease-sea-green-color: #B2EBF9;
$onlease-light-purple-color: #AEA1EA;
$onlease-dark-purple-color: #8C54A1;

