#image-upload-form{
    visibility: hidden;
}
.flex{
    display: flex;
    align-items: center;
    color: green;
    font-size: 1.4rem;
}
.display-none{
    display: none;
}
#id_images{
    display: none;
}
#uploaded_images_container{
    margin-top: 1.5rem;
    display: none;
    width: 90%;
}
.uploaded{
    color: #757575;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}
#uploaded_images_container img{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    max-width: 120px;
    max-height: 100px;
}
#images_container{
    width: 90%;
}
