body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4b515d!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: scroll;
    z-index: 1031;
}

.sidenav a,.sidenav div {
    padding: 12px 8px 12px 15px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    font-weight: 800;
    text-transform: uppercase;
}

.sidenav:nth-child(2){
	border-top: 2px solid rgba(255,255,255,0.2);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 40px;
    padding: 0;
    width: 50px;
    text-align: center;
    border-bottom: none;
    color: white!important;
    font-weight: 600;
}
.toggle{
	display: none;
}
.sidenav ul {
    list-style-type: none;
    margin: 0;
    width: 100%!important;
    /* display: block; */
    padding: 0;
}
.sidenav ul a {
    background: rgba(67, 65, 74, 0.5);
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 22px;
    color: #f5f5f5;
    font-weight: 600;
    text-transform: capitalize;
}
.sidenav-opener{
    cursor: pointer;
    font-size: 30px;
    color: white;
}
.sidenav a i,.sidenav div i{
    font-size: 25px!important;
    display: inline-block;
    margin-right: 0.3rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}