<form class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-4">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="register_email" name="email" class="form-control">
          <label for="register_email">Email address</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-mobile prefix grey-text"></i>
          <input type="text" id="register_mobile_number" name="mobile_number" class="form-control">
          <label for="register_mobile_number">Mobile number</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="register_password" name="password" class="form-control">
          <label for="register_password">Your password</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="register_confirm_password" name="confirm_password" class="form-control">
          <label for="register_confirm_password">Confirm password</label>
        </div>

      </div>
      <div class="modal-footer flex-direction-column">
        <button class="btn color-2" id="registerSubmit" type="submit">
          <i class="fa fa-user-plus"></i> Register
        </button>
        <div class="w-100 mt-3 text-align-right">
          Already a member?
          <span class="fw-600 cursor-pointer" id="login_modal">Log In</span>
        </div>
      </div>
    </div>
  </div>
</form>