
{% if user.is_authenticated %}
<form class="modal fade" id="modalUserProfileForm" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static"
  novalidate>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">My Profile</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="col-12 mb-4" id="profile-image-container">
          {% if user.profile_image.first %}
          <img src="{{user.profile_image.first.image.url}}" alt="profile photo" id="profile-photo">
          {% else %}
          <img src="" alt="profile photo" id="profile-photo" style="display:none">
          <i class="fa fa-user-circle-o" id="profile-icon"></i>
          {% endif %}
          <input type="file" name="profile" id="profile" onchange="loadImageFile(event,window.image_url,'profile')">
          <a id="upload-image" class="btn btn-default btn-md">
            Upload Photo
          </a>
          <small>Upload a 270x250 image for best result.</small>
        </div>

        <div class="mb-4">
          <button class="btn bg-one btn-sm" type="button"
            data-target="#modalChangePasswordForm" 
            data-toggle="modal">Change Password</button>
        </div>

        <div class="md-form col-12 col-md-10 mb-4">
          <i class="fa fa-user prefix grey-text"></i>
          <input type="text" class="form-control" placeholder="e.g. Vinit Dhyania" {% if user.first_name or user.last_name %} value="{% if user.first_name %}{{user.first_name}}{% endif %} {% if user.last_name %}{{user.last_name}}{% endif %}"
            {% endif %} id="profile_name">
          <label for="profile_name">Full Name</label>
        </div>

        <div class="row container-fluid mb-4">
          <div class="md-form col-12 col-md-6">
            <i class="fa fa-mobile prefix grey-text active"></i>
            <input type="text" value="{{user.mobile_number}}" id="profile_mobile_number" class="form-control" disabled="">
            <label for="profile_mobile_number" class="active">Mobile number</label>
          </div>
          <div class="col-12 col-md-6 d-flex align-items-center">
            <button class="btn bg-one btn-primary btn-sm {% if user.mobile_numbers.count >= 3 %}disabled{% endif %}"
              data-action="add-number" data-target="#modalEnterNumberForm"
              data-toggle="modal" id="add_new_number">
              Add new number
            </button>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="">
            <div class="mb-0">
              <button type="button" class="btn btn-link" data-toggle="collapse"
                data-target="#alt_mobile_numbers">Alternate Mobile Numbers 
                <i class="fa fa-chevron-down" style="color: inherit!important;"></i>
              </button>
            </div>
          </div>
          <div class="collapse" id="alt_mobile_numbers">
            <div class="card-body">
              {% for mobile in user.mobile_numbers.all %}
              <div class="row container-fluid mb-4">
                <div class="md-form col-12 col-md-6">
                  <i class="fa fa-mobile prefix grey-text"></i>
                  <input type="text" id="profile_alternate_mobile_number_{{forloop.counter}}" 
                    value="{{mobile.value}}" class="form-control alternate_mobile_number"
                    disabled>
                  <label for="profile_alternate_mobile_number_{{forloop.counter}}">Alternate Mobile number {{forloop.counter}}</label>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center">
                  <button class="btn danger-color btn-sm"
                    onclick="delete_number(event,{{mobile.value}})">Delete</button>
                </div>
              </div>
              {% endfor %}
              <div class="d-none" id="alternate_mobile_numbers"></div>
            </div>
          </div>
        </div>

        <div class="md-form mb-4 col-12 col-md-6">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="profile_email" placeholder="e.g. vinit@gmail.com" name="email" class="form-control">
          <label for="profile_email">Email address</label>
        </div>

        <div class="md-form mb-4 col-12 col-md-10">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" class="md-textarea form-control" rows="3" placeholder="e.g. I work at codegenesys." name="detail" id="profile_detail">{% if user.detail %}{{user.detail}}{% endif %}</textarea>
          <label for="profile_detail">Describe yourself</label>
        </div>

        <div class="md-form col-12 col-md-10">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" class="md-textarea form-control" rows="3" placeholder="e.g. I want a working room partner." name="type_of_roommate"
            id="profile_type_of_roommate">{% if user.type_of_roommate %}{{user.type_of_roommate}}{% endif %}</textarea>
          <label for="profile_detail">What type of roommate do you want?</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
  </div>
</form>
{% endif %}