.main-container {
  width: 100%;
  height: 100%;
}

.main-header {
  background-color: #194479;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    .text {
      color: #c5aeae;
      font-weight: 600;
      font-family: cursive;
      font-size: 23px;
      margin-left: 5px;
    }
  }

  .toggle {

  }
}

.sidenav-content {
  margin-top: 50px;
  height: calc(100% - 50px)!important;
}

.sidenav {
  width: 175px;
  text-align: center;
  background-color: #396396;
  color: white;

  .menu {
    margin-top: 60px;
    border-top: 1px solid #194479;

    .item {
      padding: 10px;
      border-bottom: 1px solid #194479;
      &:hover {
        background-color: #194479;
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
