<header class="main-header">
  <span [routerLink]="['/']" class="logo">
    <img class="icon" src="/static/images/onleaselogoicon.png" height="40">
    <span class="text">Onlease</span>
  </span>
  <div>
    <button mat-icon-button color="accent" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</header>
<mat-sidenav-container class="main-container">
  <mat-sidenav-content class="sidenav-content">
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav class="sidenav" mode="over" position="end">
    <div class="menu">
      <ng-container *ngIf="!isLoggedIn">
        <div class="item" (click)="routeTo('/user/login')">Login</div>
        <div class="item" (click)="routeTo('/user/register')">Register</div>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <div class="item" (click)="routeTo('/lodgings/edit/-1')">Post new ad</div>
        <div class="item" (click)="routeTo('/user/me/ads')">My Ads</div>
        <div class="item" (click)="routeTo('/user/me/bookings')">My Bookings</div>
        <div class="item" (click)="routeTo('/user/me/favorites')">My Favorites</div>
        <div class="item" (click)="routeTo('/user/me/agreements')">My Agreements</div>
        <div class="item" (click)="routeTo('/user/me/profile')">My Profile</div>
        <div class="item" (click)="routeTo('/user/me/change-password')">Change password</div>
        <div class="item" (click)="logout()">Logout</div>
      </ng-container>
    </div>
  </mat-sidenav>

</mat-sidenav-container>
