.ad-title{
    margin: 4px;
    padding: 5px 10px;
    box-shadow: 2px -2px 4px rgba(209, 199, 199,0.5), 2px 2px 4px rgba(209, 199, 199,0.5);
}
#carousel-ad{
    padding-left: 0;
    padding-right: 0;
}
.carousel-inner{
    max-height: 500px;
}
.badge{
    font-size: 0.8rem;
    padding: 10px!important;
    margin-top: 0.25rem;
}
.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 150px;
}
.book{
    border-radius: 10px;
    font-size: 0.9rem;
    max-width: 200px;
}
.badge{
    background: #676060!important;
    box-shadow: 4px 4px rgba(132, 156, 132, 0.5);
}
