* {
  box-sizing: border-box;
}
#stateInput{
  display: none;
}
.progress-bar{
  width: 100%;
}
.sub-container{
  max-width: 250px;
  width: 100%;
}
.progress{
  width: 300px;
  margin: 0px!important;
}
#district-progress{
  display: none;
}
