<form class="number-form" *ngIf="!otpSent" (ngSubmit)="addNumber()" [formGroup]="numberForm">
  <h2>Add new number</h2>
  <mat-form-field class="w-100">
    <mat-label>Mobile number</mat-label>
    <input matInput type="tel" required formControlName="mobile_number">
    <mat-hint>An otp will be sent to this number for verification</mat-hint>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" [disabled]="!numberForm.valid">Submit</button>
</form>

<ng-container *ngIf="otpSent">
  <app-verify-otp (verifyOtp)="onVerifyOtp($event)"
    (resendOtp)="onResendOtp()" [lastOtpSent]="lastOtpSent">
  </app-verify-otp>
</ng-container>
