{% extends "base_templates/base_template_1.html" %}
{% load static %}
{% load lodging_filters %}

{% block head %}
<link rel="stylesheet" href="{% static 'ads/ad_detail.css' %}">
{% endblock %}


{% block script %}
<script src="{% static 'ads/ad_detail.js' %}"></script>
{% endblock %}


{% block content %}
{% comment %} <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
  <label class="custom-control-label" for="tableDefaultCheck1">Check 1</label>
</div> {% endcomment %}
<script>
  var data = JSON.parse("{{ data | escapejs}}");
  var type = '{{sublodging | full_form:"type"}}';
  var rent = '{{sublodging.rent}}';
  var region = '{{sublodging.region}}';
  var available_from = '{{sublodging.available_from}}';
  var title = '{{sublodging.title}}';
  var images_url = [{% for image in sublodging.images.all %}'{{image.image.url}}',{% endfor %}];
  var images_tag = [{% for image in sublodging.images.all %}"{{image | full_form:'image_tag'}}",{% endfor %}];
  function addEvent(el,obj){
    if(el){
      el.addEventListener('click',function(){
        window.display_full_screen_carousel(
          obj.images_url,
          obj.rent,
          obj.region,
          obj.type,
          obj.available_from,
          obj.title,
          obj.images_tag
        );
      });
    }
  }
</script>
<div class="row m-0 ad-container">
  <div class="col-12 col-md-6">
    <div class="ad-title">
      {{sublodging.title}}
    </div>
    <div id="images" data-pause="true" class="carousel slide carousel-fade" data-ride="false">
      <ol class="carousel-indicators">
        {% for image in sublodging.images.all %}
          <li data-target="#images" data-slide-to="{{forloop.counter0}}"{% if forloop.first %} class="active"{% endif %}></li>
        {% endfor %}
      </ol>
      <div class="carousel-inner" role="listbox">
        {% for image in sublodging.images.all %}
          {% if forloop.first %}
          <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
          {% endif %}
            <div class="view image-container">
              <img class="d-block cursor-zoom-in img-fluid" 
                src="{% static 'images/Spinner-1s-200px.gif' %}" 
                data-src="{{image.image_mobile.url}}" 
                alt="{{sublodging.additional_details}}">
            </div>
            <div class="carousel-caption">
              {{image | full_form:'image_tag'}}
            </div>
          </div>
        {% endfor %}
      </div>
      {% if sublodging.images.count > 1 %}
      <a class="carousel-control-prev" href="#images" role="button" data-slide="prev">
        <span class="fa fa-chevron-left fa-lg" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#images" role="button" data-slide="next">
        <span class="fa fa-chevron-right fa-lg" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <div class="zoom-icon text-white pink darken-1 p-1">
        <small><i class="fa fa-search-plus"></i> Zoom</small>
      </div>
      {% endif %}
      <script>
        try { 
          throw {
            images_url: images_url,
            rent: rent,
            region: region,
            type: type,
            available_from: available_from,
            title: title,
            images_tag: images_tag
          } 
        }
        catch(obj){
          $('.carousel img').each(function(){
            addEvent(this,obj);
          });
          $('.zoom-icon').each(function(){
            addEvent(this,obj);
          });
        }
      </script>
    </div>
    <!-- <div>
      <button class="btn btn-secondary" onclick="openMap()">Open Address in Map</button>
    </div> -->
  </div>
  <div class="col-12 col-md-6">
    <div class="basic-details p-3">
      <div class="indigo badge badge-pill mt-1 fs-3-5">
        <i class="fa fa-inr"></i>
        {{sublodging.rent}}
      </div>
      <div class="indigo badge badge-pill mt-1 fs-3-5">
        <i class="fa fa-map-marker"></i>
        {{sublodging.region}}
      </div>
      <div class="indigo badge badge-pill mt-1 fs-3-5">
        <i class="fa fa-home"></i>
        {{sublodging | full_form:'type'}}
      </div>
    </div>
    {% if show_contact_details == True %}
    <div class="mb-3 z-depth-1 p-3 details">
      <div class="h4">Contact Details</div>
      <div>
        Phone numbers - {{lodging|phone_numbers}}
      </div>
      <div>
        Address - {{lodging.address}}
      </div>
    </div>
    {% endif %}
    <div class="z-depth-1 p-3 mb-3 details">
      <div class="h4">Property Details</div>
      <div>Furnishing - {{sublodging|full_form:'furnishing'}}</div>
      <div>Facilities - 
        {% for facility in sublodging|full_form:'facilities' %}
          {{facility.value}}
        {% endfor %}
      </div>
      <div class="d-flex align-items-center">
        Area - &nbsp;
        <span class="input-group justify-content-center width-fit-content">
          <span class="input-group-prepend">
            <span class="input-group-text fs-1" id="area">{{sublodging.area}}</span>
          </span>
          <select id="area_unit" class="fs-1" style="width: 110px" name="area_unit"></select>
        </span>
      </div>
      <div>Floor number - 
        {% if sublodging.ground_floor %}
        Ground Floor
        {% elif sublodging.top_floor %}
        Top Floor
        {% else %}
        {{sublodging.floor_no}}<sup>{{sublodging.floor_no|style_number}}</sup> 
        floor
        {% endif %}
        <small>(Total floors: {{sublodging.total_floors}})</small>
      </div>
      <div>Flooring - {{sublodging|full_form:'flooring'}}</div>
      <div>{{sublodging.bathrooms}} Bathrooms, {{sublodging.rooms}} Rooms, 
        {{sublodging.balconies}} Balconies, {{sublodging.halls}} Halls</div>
      <div>{{sublodging.additional_details}}</div>
    </div>
    <div class="booking-amount z-depth-1 mb-3 d-flex">
      <div class="heading">Charges</div>
      {% if sublodging.advance_rent_of_months > 1 %}
      <div>
        Rent of {{sublodging.advance_rent_of_months}} in advance
      </div>
      {% endif %}
      <table class="table table-bordered mb-0">
        <thead class="color-5 text-white">
          <tr>
            <th>Charge</th>
            <th>Amount</th>
            <th>Per Month</th>
          </tr>
        </thead>
        <tbody>
          {% for charge in sublodging.charges.all %}
          <tr>
            <th class="text-capitalize">
              {{charge.description}}
            </th>
            <td>
              <i class="fa fa-inr"></i>
              {{charge.amount}}
            </td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="rent" 
                  {% if charge.is_per_month %}checked{% endif %} disabled>
                <label class="custom-control-label" for="rent"></label>
              </div>
            </td>
          </tr>
          {% endfor %}
          {% comment %} <tr>
            <th>
              Security deposit
            </th>
            <td>
              <i class="fa fa-inr"></i>
              {{sublodging.security_deposit}}
            </td>
          </tr> {% endcomment %}
          {% comment %} <tr>
            <th>
              Booking amount
            </th>
            <td>
              <i class="fa fa-inr"></i>
              {{sublodging.booking_amount}}
            </td>
          </tr> {% endcomment %}
          <tr>
            <th>
              Rent
            </th>
            <td>
              <i class="fa fa-inr"></i>
              {{sublodging.rent}}
            </td>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="rent" checked disabled>
                <label class="custom-control-label" for="rent"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if sublodging.termsandconditions.count > 0 %}
    <div class="card mb-3">
      <div class="card-body">
        <ol>
          {% for term_and_condition in sublodging.termsandconditions.all %}
          <li class="card-text fs-3">{{term_and_condition}}</li>
          {% endfor %}
        </ol>
        <div class="card-text">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" 
              class="custom-control-input"
              name="agree_to_terms_and_conditions" 
              id="agree_to_terms_and_conditions">
            <label for="agree_to_terms_and_conditions"
              class="custom-control-label">
              I agree that I will not be eligible for allotment of 
                property if I do not come under above conditions.
            </label>
          </div>
        </div>
        <div class="text-center">
          <button 
          onclick="book_now(event)" 
          class="btn color-4"
          {% if sublodging.is_booked or sublodging.is_booking %}
          disabled
          {% endif %}>
            Book Now
            only in 
            <span class="h5 text-success">
              <i class="fa fa-inr" style="font-size: 1.25rem;"></i>{% widthratio sublodging.rent 10 1 %}
            </span>
          </button>
          {% if sublodging.is_booked or sublodging.is_booking %}
          <div>
            <small class="red-text">
              Already booked
            </small>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
<div>
  <script>
    var latlng = '{{sublodging.latlng}}';
    var book_now_url = "{% url 'transactions:lodging-redirect-to-instamojo' lodging.id %}";
  </script>
  {% comment %} <iframe width="600" height="450" frameborder="0" style="border:0" 
  src="https://www.google.com/maps/embed/v1/directions?origin=&destination={{sublodging.latlng}}&key=AIzaSyBM8hfl_jO8yNJzRwRAyo3Q0siCBjYgSRQ" 
  allowfullscreen></iframe> {% endcomment %}
</div>
{% endblock %}