{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Choose location{% endblock %}
{% load static %}
{% load staticfiles %}

{% block ads_active %}
active
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ads/location_chooser.css' %}">
    <link rel="stylesheet" href="{% static 'css/indeterminate_progress.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}">
{% endblock %}

{% block script %}
    <script>
        $('document').ready(function(){
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                                  .exec(window.location.search);
            
                return (results !== null) ? results[1] || 0 : false;
            }
            $.getJSON('/api/locations').done(function(data1){
                $.each(data1.values,function(id,value){
                    var option = document.createElement('option');
                    option.innerHTML=value.name;
                    option.value=value.id;
                    $('#stateInput').append(option);
                });
                $('#state-progress').css({'display':'none'});
                $('#stateInput').css({'display':'block'});
            });
            $('#stateInput').change(function(){
                $('#district-progress').css({'dispay':'block'});
                $('#districtInput').css({'display':'none'});
                $('#districtInput').children().remove();
                var state=$(this).val();
                $.getJSON('/api/locations',{'state':state})
                .done(function(data2){
                    var option = document.createElement('option');
                    option.innerHTML='Choose District';
                    option.value='';
                    $('#districtInput').append(option);
                    $.each(data2.values,function(id,value){
                        var option = document.createElement('option');
                        option.innerHTML=value.name;
                        option.value=value.id;
                        $('#districtInput').append(option);
                    });
                    $('#district-progress').css({'dispay':'none'});
                    $('#districtInput').css({'display':'block'});
                });
            });
            $('#districtInput').change(function(){
                var district = $('#districtInput option:selected').html();
                var district_id = $(this).val();
                var state = $('#stateInput option:selected').html();
                var state_id = $('#stateInput').val();
                if($.urlParam('type')=='roomie'){
                    var url = "{% url 'ads:roomie-list' state='state' state_id='state_id' district='district' district_id='district_id' %}";
                } else if($.urlParam('type')=='dealer'){
                    var url = "{% url 'ads:dealer-list' state='state' state_id='state_id' district='district' district_id='district_id' %}";
                } else {
                    var url = "{% url 'ads:list' state='state' state_id='state_id' district='district' district_id='district_id' %}";
                }
                window.location.href=url.replace('state',state).replace('state_id',state_id).replace('district',district).replace('district_id',district_id);
            });
        });
    </script>
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container-fluid col-10 d-flex justify-content-center">
        <div class="sub-container">
        
            <div class="mt-5">

                <select id="stateInput" class="btn btn-default">
                    <option value="">Choose state</option>
                </select>

                <div class="progress" id="state-progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span>Please wait<span class="dotdotdot"></span></span>
                    </div>
                </div>
            
            </div>

            <div class="mt-5">

                <div class="progress" id="district-progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span>Please wait<span class="dotdotdot"></span></span>
                    </div>
                </div>

                <select id="districtInput" class="btn btn-default">
                        <option value="">Choose district</option>
                </select>
                
            </div>

        </div>
        
    </div>
    
{% endblock %}
