{% extends 'base_templates/ad_list.html' %} 
{% load widget_tweaks %} 
{% block title %}OnLease{% endblock %} 
{% load static %}
{% load i18n %}
{% load lodging_filters %}

{% block content %}

<div id="ads_wrapper" class="row">
  {% for ad in ads %}
  <script>
    var type = '{{ad | full_form:"type"}}';
    var rent = '{{ad.rent}}';
    var region = '{{ad.region}}';
    var available_from = '{{ad.available_from}}';
    var title = '{{ad.title}}';
    var images_url = [{% for image in ad.images.all %}'{{image.image.url}}',{% endfor %}];
    var images_tag = [{% for image in ad.images.all %}"{{image | full_form:'image_tag'}}",{% endfor %}];
    function addEvent(el,obj){
      if(el){
        el.addEventListener('click',function(){
          display_full_screen_carousel(
            obj.images_url,
            obj.rent,
            obj.region,
            obj.type,
            obj.available_from,
            obj.title,
            obj.images_tag
          );
        });
      }
    }
  </script>
	<div class="card col-xs-12 col-sm-6 col-md-4 col-lg-3 p-0">
		<div>
      {% if not ad.images.first %}
      <img class="card-img-top" src="{% static 'images/No-image-available.jpg' %}" alt="">
      {% else %}
      <div id="ad_images_carousel_{{forloop.counter0}}" data-pause="true" class="carousel slide carousel-fade" data-ride="false">
          <ol class="carousel-indicators">
            {% for image in ad.images.all %}
            <li data-target="#ad_images_carousel_{{forloop.counter0}}" data-slide-to="{{forloop.counter0}}"{% if forloop.first %} class="active"{% endif %}></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner" role="listbox">
            {% for image in ad.images.all %}
              {% if forloop.first %}
              <div class="carousel-item active">
                <div class="view justify-content-center minh-200 align-items-center d-flex">
                  <img class="d-block cursor-zoom-in" 
                    src="{{image.image_thumbnail.url}}"  alt="{{ad.title}}">
              {% else %}
              <div class="carousel-item">
                <div class="view justify-content-center minh-200 align-items-center d-flex">
                  <img class="d-block cursor-zoom-in" 
                    src="{% static 'images/Spinner-1s-51px.gif' %}" 
                    data-src="{{image.image_thumbnail.url}}" 
                    alt="{{ad.title}}">
              {% endif %}
              <script>
                var url = '{{image.image_thumbnail.url}}';
                try { 
                  throw {
                    images_url: images_url,
                    rent: rent,
                    region: region,
                    type: type,
                    available_from: available_from,
                    title: title,
                    images_tag: images_tag
                  } 
                }
                catch(obj){
                  var el = document.querySelector('[src="'+url+'"]');
                  addEvent(el,obj);
                  el = document.querySelector('[data-src="'+url+'"]');
                  addEvent(el,obj);
                }
              </script>
                </div>
                <div class="carousel-caption">
                  {{image | full_form:'image_tag'}}
                </div>
              </div>
            {% endfor %}
          </div>
          {% if ad.images.count > 1 %}
          <a class="carousel-control-prev" href="#ad_images_carousel_{{forloop.counter0}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#ad_images_carousel_{{forloop.counter0}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="row m-0 links">
      {% if ad.images.count > 0 %}
      <div class="col" id="zoom_{{forloop.counter}}">
        <i class="fa fa-search-plus"></i>
        Zoom
      </div>
      <script>
        try { 
          throw {
            images_url: images_url,
            rent: rent,
            region: region,
            type: type,
            available_from: available_from,
            title: title,
            images_tag: images_tag
          } 
        }
        catch(obj){
          var el = document.querySelector('#zoom_{{forloop.counter}}');
          addEvent(el,obj);
        } 
      </script>
      {% endif %}
      <div class="col" onclick="redirect_to_ad_detail_view('{{ad.id}}')">
        <i class="fa fa-external-link"></i>
        View details
      </div>
    </div>
    <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
      <ul class="list-unstyled list-inline font-small">
        <li class="list-inline-item pr-2 white-text">
          <div class="light-brown-text">
            <small>Rent</small>
          </div>
          <div>
            <i class="fa fa-inr pr-1"></i>{{ad.rent}}
          </div>
        </li>
        {% if ad.lodging_type == 'O' %}
        <li class="list-inline-item pr-2 white-text">
          <div class="light-brown-text">
            <small><i class="fa fa-home pr-1"></i> Type</small>
          </div>
          <div>
            {{ad.lodging_type_other}}
          </div>
        </li>
        {% else %}
        <li class="list-inline-item pr-2 white-text">
          <div class="light-brown-text">
            <small><i class="fa fa-home pr-1"></i> Type</small>
          </div>
          <div>
            {{ad | full_form:'type' | fixed_length:'11'}}
          </div>
        </li>
        {% endif %}
        <li class="list-inline-item pr-2 white-text">
          <div class="light-brown-text">
            <small><i class="fa fa-clock-o pr-1"></i> Available from</small>
          </div>
          <div>
            {{ad.available_from | date:'d-m-Y'}}
          </div>
        </li>
      </ul>
    </div>
    <div class="teal-text p-1 location-detail bg-grey">
      <small><i class="fa fa-map-marker"></i> {{ad.region}}</small>
    </div>
	</div>
	{% endfor %}
</div>
<script>
  var detail_view_url = '{% url "ads:ad-detail-view" %}';
</script>
{% endblock %}