{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Change password{% endblock %}

{% block script %}
    <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5adef5845f7cdf4f05338e80/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endblock %}

{% block content %}
    <div class="container col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <form action="{% url 'user:change-password' %}" method="post" novalidate class="mt-5">
            {% csrf_token %}
            <p class="h4 text-center mb-4">CHANGE PASSWORD</p>

            {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                        <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    {% render_field form.old_password class+="form-control" %}
                    <label for="id_old_password">Current Password</label>
                    {% if form.old_password.errors %}
                    <div class="error"><small>{{form.old_password.errors.0}}</small></div>
                    {% endif %}
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    {% render_field form.new_password1 class+="form-control" %}
                    <label for="id_new_password1">New Password</label>
                    {% if form.new_password1.errors %}
                    <div class="error"><small>{{form.new_password1.errors.0}}</small></div>
                    {% endif %}
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    {% render_field form.new_password2 class+="form-control" %}
                    <label for="id_new_password2">Confirm new password</label>
                    {% if form.new_password2.errors %}
                    <div class="error"><small>{{form.new_password2.errors.0}}</small></div>
                    {% endif %}
                </div>

            {% endwith %}

            <div class="text-center mt-4">
                <button class="btn btn-primary" type="submit">Change password</button>
            </div>

        </form>
    </div>
{% endblock %}