{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block login_active %}active{% endblock %}

{% block script %}
    <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5adef5845f7cdf4f05338e80/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endblock %}

{% block content %}
    <div class="container col-sm-8 col-md-6 col-lg-4">
        <form action="{% url 'user:login' %}" method="post" novalidate class="mt-5">
            {% csrf_token %}
            <p class="h4 text-center mb-4"><i class="fa fa-lock"></i> LOG IN</p>

            {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                        <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    {% render_field form.username|append_attr:"autofocus" id="username" class+="form-control" %}
                    <label for="username">Mobile number or email address</label>
                    {% if form.username.errors %}
                    <div class="error"><small>{{form.username.errors.0}}</small></div>
                    {% endif %}
                </div>
            
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    {% render_field form.password id="password" class+="form-control" %}
                    <label for="password">Password</label>
                    {% if form.password.errors %}
                    <div class="error"><small>{{form.password.errors.0}}</small></div>
                    {% endif %}
                </div>
            {% endwith %}

            <div class="form-group row">
                {% render_field form.next_ class+="form-control" %}
            </div>

            <p class="font-small blue-text d-flex justify-content-end">
                Forgot <a href="{% url 'user:request-otp' %}?reset_password=True" class="blue-text ml-1"> Password?</a></p>
            
            <div class="text-center mt-4">
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
            <p class="font-small grey-text d-flex justify-content-end mt-3">Not a member? <a href="{% url 'user:register' %}" class="blue-text ml-1"> Sign Up</a></p>
        </form>
    </div>
{% endblock %}