{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block content %}
    <div class="container col-12 col-sm-9 col-md-8 col-lg-7 col-xl-6">
        <form action="{% url 'user:register' %}" method="post" novalidate class="mt-5 custom-main-form">
            {% csrf_token %}
            <p class="h4 text-center custom-main-form-heading">
                <i class="fa fa-user-plus"></i> REGISTER</p>
            <div class="form">
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}

                <div class="row">
                    <div class="md-form col-12 col-md-6">
                        <i class="fa fa-envelope prefix"></i>
                        {% render_field form.email id="email" class+="form-control" %}
                        <label for="email">Email address</label>
                        {% if form.email.errors %}
                            <div class="error"><small>{{form.email.errors.0}}</small></div>
                        {% endif %}
                    </div>
                    
                    <div class="md-form col-12 col-md-6">
                        <i class="fa fa-mobile prefix"></i>
                        {% render_field form.mobile_number id="mobile_number" class+="form-control" %}
                        <label for="mobile_number">Mobile number</label>
                        {% if form.mobile_number.errors %}
                            <div class="error"><small>{{form.mobile_number.errors.0}}</small></div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="md-form col-12 col-md-6">
                        <i class="fa fa-lock prefix"></i>
                        {% render_field form.password id="password" class+="form-control" %}
                        <label for="password">Password</label>
                        {% if form.password.errors %}
                            <div class="error"><small>{{form.password.errors.0}}</small></div>
                        {% endif %}
                    </div>

                    <div class="md-form col-12 col-md-6">
                        <i class="fa fa-lock prefix"></i>
                        {% render_field form.confirm_password id="confirm_password" class+="form-control" %}
                        <label for="confirm_password">Confirm password</label>
                        {% if form.confirm_password.errors %}
                            <div class="error"><small>{{form.confirm_password.errors.0}}</small></div>
                        {% endif %}
                    </div>
                </div>
            {% endwith %}

            <div class="text-center mt-5">
                <button class="btn btn-block submit-1" type="submit">Register</button>
            </div>

            <p class="font-small grey-text d-flex justify-content-end mt-3">
                Already a member? 
                <a href="{% url 'user:login' %}" class="dark-text bold-800 ml-1"> 
                    Login
                </a>
            </p>
            </div>
        </form>
    </div>
{% endblock %}