{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Verify Mobile number{% endblock %}

{% block script %}
    <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5adef5845f7cdf4f05338e80/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endblock %}

{% block content %}
    <div class="container col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
        <form action="{% url 'user:request-otp' %}" method="post" novalidate class="mt-5 custom-main-form">
            {% csrf_token %}
            <p class="h4 text-center custom-main-form-heading">VERIFY MOBILE NUMBER</p>

            {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                        <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}
                <div class="md-form">
                    <i class="fa fa-mobile prefix"></i>
                    {% render_field form.mobile_number|append_attr:"autofocus" id="mobileNumber" class+="form-control" %}
                    <label for="username">Mobile number</label>
                    {% if form.mobile_number.errors %}
                    <div class="error"><small>{{form.mobile_number.errors.0}}</small></div>
                    {% else %}
                        <div class="form-text">
                            <small id="mobileHelp" class="text-muted">
                                An OTP will be sent to this mobile number.
                            </small>
                        </div>
                    {% endif %}
                </div>
                {% render_field form.reset_password %}
            {% endwith %}

            <div class="text-center mt-4">
                <button class="btn btn-primary" type="submit">
                    <i class="fa fa-paper-plane"></i> Send OTP</button>
            </div>
            <p class="font-small grey-text d-flex justify-content-end mt-3">Already a member? <a href="{% url 'user:login' %}" class="blue-text ml-1"> Login</a></p>
        
        </form>
    </div>
{% endblock %}