{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="container col-sm-9 col-md-8 col-lg-7 col-xl-5">
        <form action="{% url 'user:reset-password' %}" method="post" novalidate class="mt-5">
            {% csrf_token %}
            <p class="h4 text-center mb-4">RESET PASSWORD</p>

            {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                        <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}

                <div class="row">
                    <div class="md-form col">
                        <i class="fa fa-user-secret prefix"></i>
                        {% render_field form.password|append_attr:"autofocus" id="password" class+="form-control" %}
                        <label for="password">Password</label>
                        {% if form.password.errors %}
                        <div class="error"><small>{{form.password.errors.0}}</small></div>
                        {% endif %}
                    </div>

                    <div class="md-form col">
                        <i class="fa fa-user-secret prefix"></i>
                        {% render_field form.confirm_password id="confirm_password" class+="form-control" %}
                        <label for="confirm_password">Confirm password</label>
                        {% if form.confirm_password.errors %}
                        <div class="error"><small>{{form.confirm_password.errors.0}}</small></div>
                        {% endif %}
                    </div>
                </div>

            {% endwith %}

            <div class="text-center mt-4">
                <button class="btn btn-default" type="submit">Reset password</button>
            </div>

        </form>
    </div>
{% endblock %}