#datepicker-container{
    position: relative;
}
.toggler {
    padding: 0.5rem;
    background: cadetblue;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}
.caret {
    position: absolute;
    right: 10px;
}
.details{
    padding: 0.5rem;
    border: 1px solid rgba(1,1,1,0.2);
}
.md-form{
    width: 100%;
}
.select2{
    width: 100%!important;
    margin-left: 2.5rem!important;
}
select{
    margin-left: 2.5rem;
}
.select label{
    top: -1.5rem!important;
    left: 3.5rem!important;
    font-size: 0.8rem!important;
}
.select{
    margin-top: 2rem;
}
