.uploader{
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
}
.fileContainer [type=file] {
    cursor: inherit;
    position: absolute;
    opacity: 0;
}
.uploader .btn-default:focus{
    background-color: #2bbbad!important;
}
.fileContainer{
    margin: 0;
    width: 30%;
    align-self: flex-end;
}
.uploader input{
    border: none;
    border-bottom: 1px solid #ced4da;
    width: 200px;
    border-radius: 0;
    margin: 0;
    width: 65%;
    margin-left: 5%;
}
.uploader input:focus{
    border: none;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4;
}
.md-form .label{
    display: contents;
}
img:hover{
    cursor: pointer;
}
.md-form .label img{
    max-width: 120px;
    max-height: 100px;
}
.md-form.div-delete {
    width: fit-content;
    float: left;
    margin-top: 0.5rem;
    height: 100px;
}
.checkbox-container {
    float: left;
}
.delete_images_container{
    float: left;
}
#datepicker-container{
    position: relative;
}