.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    background-color: #194479;
    color: white;
    font-size: 20px;
}

.body {
    height: calc(100% - 50px);
}

.close-button {
    font-size: 24px;
    cursor: pointer;
}