{% extends "navbar.html" %}
{% block title %}Dashboard{% endblock %}
{% block dashboard_active %}active{% endblock %}
{% load ads_filters %}
{% load dashboard_filters %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/home.css' %}">
{% endblock %}

{% block script %}
    <script>
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5adef5845f7cdf4f05338e80/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
{% endblock %}

{% block content %}
    
    <div class="container-fluid mt-4 ml-0 mr-0">
        <div class="card">
        <div class="card-body">
            <a href="{% url 'dashboard:home' %}?type=businesses" class="btn btn-default {% if not transaction %}active{% endif %}">All Businesses</a>
            <a href="{% url 'dashboard:home' %}?type=transactions" class="btn btn-default {% if transaction %}active{% endif %}">All Transactions</a>
        </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            {% if not transaction %}
                {% for lodging in lodging_businesses %}
                    <div class="card-wrapper">

                        <div class="card card-cascade mt-1 z-depth-2">

                            <div class="card-header">{{lodging.sublodging.title}}</div>

                            <!--Card content-->
                            <div class="card-body">
                                <p class="card-text"><i class="fa fa-map-marker"></i> {{lodging.sublodging.region.name}}, {{lodging.sublodging.region.district.name}}, {{lodging.sublodging.region.state.name}}</p>
                                <p class="card-text"><i class="fa fa-home"></i> {{lodging.sublodging.lodging_type | type_full_form}}</p>
                                <p class="card-text"><i class="fa fa-address-card"></i> {{lodging.address}}</p>
                                <p class="card-text"><i class="fa fa-info-circle"></i> {{lodging.sublodging.additional_details}}</p>
                                <p class="card-text">Total floors: {{lodging.sublodging.total_floors}}</p>
                                <p class="card-text">Floor number: {{lodging.sublodging.floor_no}}</p>
                                <div class="card-text">Booked: <div class="{{lodging.sublodging.is_booked | get_class}}"></div></div>
                                <div class="card-text">Furnished: <div class="{{lodging.sublodging.is_furnished | get_class}}"></div></div>
                                <div class="card-text">Parking available: <div class="{{lodging.sublodging.is_parking_available | get_class}}"></div></div>
                                <div class="card-text">Kitchen available: <div class="{{lodging.sublodging.is_kitchen_available | get_class}}"></div></div>
                                <div class="card-text">
                                    <small class="text-muted">Posted on: {{lodging.posted_at}}</small>
                                    <small class="text-muted d-block">Last updated on: {{lodging.updated_at}}</small>
                                </div>
                            </div>
                            <!--/.Card content-->

                            <div class="card-footer d-flex">
                                <a href="{% url 'lodging:edit' ad_id=lodging.id %}" class="btn btn-secondary btn-sm">
                                    <i class="fa fa-edit icon"></i>
                                    Edit
                                </a>
                            </div>

                        </div>
                    </div>
                {% empty %}
                    <div class="container d-flex justify-content-center mt-3">
                        <div class="card col-sm-6 col-md-6 col-lg-5 col-xl-3">
                            <div class="card-body">
                                <h6 class="">No business added yet.</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for lodgingtransaction in lodgingtransactions %}
                    <div class="card-wrapper">

                        <div class="card card-cascade mt-1 z-depth-2">

                            <div class="card-header">{{lodgingtransaction.title}}</div>

                            <!--Card content-->
                            <div class="card-body">
                                <p class="card-text"><i class="fa fa-map-marker color"></i> {{lodgingtransaction.location}}</p>
                                <p class="card-text"><i class="fa fa-address-card color"></i> {{lodgingtransaction.address}}</p>
                                <p class="card-text"><i class="fa fa-phone color"></i> {{user.mobile_number}}</p>
                                <p class="card-text">Transaction Id: {{lodgingtransaction.id}}</p>
                                <p class="card-text">
                                    <span class='badge badge-pill {% if lodgingtransaction.status == "R" %}indigo{% elif lodgingtransaction.status == "S" %}green {% else %}pink{% endif %}'>
                                        {{lodgingtransaction.status | get_status}}
                                    </span>
                                </p>
                                <p class="card-text">Payment Id: {{lodgingtransaction.payment_id}}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <i class="fa fa-calendar color"></i>
                                        {{lodgingtransaction.created_at}}
                                    </small> 
                                </p>
                            </div>
                            <!--/.Card content-->

                            {% ifnotequal lodgingtransaction.refund 0 %}
                            <div class="card-footer d-flex">
                                <a class="btn btn-sm btn-small info-color" href="{% url 'dashboard:refund' transaction_id=lodgingtransaction.id %}">
                                    Get refund of <i class="fa fa-inr"></i> 
                                    {{lodgingtransaction.refund}}
                                </a>
                            </div>
                            {% endifnotequal %}

                        </div>
                    </div>
                {% empty %}
                    <div class="container d-flex justify-content-center mt-3">
                        <div class="card col-sm-6 col-md-6 col-lg-5 col-xl-3">
                            <div class="card-body">
                                <h6 class="">No transaction made yet.</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>


                
    </div>
{% endblock %}