{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Profile{% endblock %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/profile.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'dashboard/profile.js' %}"></script>
<script src="{% static 'js/image-upload.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5">
        <form action="{% url 'dashboard:profile' %}" method="post" novalidate class="mt-5 custom-main-form">
            {% csrf_token %}
            <p class="h4 text-center text-capitalize custom-main-form-heading">PROFILE</p>
            
            {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}
                <div class="row">
                    <div class="col-6" id="profile-image-container">
                        {% if user.profile %}
                        <img src="{{user.profile.image.url}}" alt="profile photo" id="profile-photo">
                        {% else %}
                        <img src="" alt="profile photo" id="profile-photo" style="display:none">
                        <i class="fa fa-user-circle-o" id="profile-icon"></i>
                        {% endif %}
                        <input type="file" name="profile" id="profile" onchange="loadImageFile('profile')">
                        <a id="upload-image" class="btn btn-default btn-md">
                            Upload Photo
                        </a>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            {% include 'fields/field.html' with classes="col-12" field=form.first_name %}
                            {% include 'fields/field.html' with classes="col-12" field=form.last_name %}
                         </div>
                    </div>
                </div>

                <div class="md-form">
                    <i class="fa fa-mobile prefix"></i>
                    <input type="text" name="mobile" id="mobile" value="{{user.mobile_number}}" class="form-control" disabled>
                    <label for="mobile">Mobile number</label>
                </div>

            {% endwith %}

            <div class="text-center mt-4">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>

        </form>
    </div>
    <script>
        var csrf_token = "{{csrf_token}}";
        var url = "{% url 'lodging:image-upload' ad_type='user-profile' %}";
        var width = 150;
        var height = 150;
    </script>
{% endblock %}