{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Refund{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'dashboard/refund.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="sub-container">
        {% with WIDGET_ERROR_CLASS='invalid' WIDGET_REQUIRED_CLASS='required' %}
        <form action="{% url 'dashboard:refund' transaction_id=transaction_id %}" method="post">
            <div class="">
                Refund amount: 
                <button class="btn btn-outline-default btn-sm refund">
                    <i class="fa fa-inr"></i> {{refund}}
                </button>
            </div>
            {% csrf_token %}
            <div class="md-form">
                <i class="fa fa-pencil prefix"></i>
                {% render_field form.reason class+="form-control md-textarea" %}
                <label for="id_reason">Reason</label>
                {% if form.reason.errors %}
                    <div class="error"><small>{{form.reason.errors.0}}</small></div>
                {% endif %}
            </div>
            <div class="text-center mt-4">
                    <button class="btn btn-default" type="submit">
                        Get refund
                    </button>
            </div>
        </form>
        {% endwith %}
    </div>
</div>
{% endblock %}