
#sidebar {
    position: fixed;
    top: 3.6rem;
    left: 0;
    width: 100%;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    margin-left: -250px;
    z-index: 999;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    box-shadow: 4px 4px 
}
#sidebar:hover{
    overflow-y: scroll;
}
#sidebar.active {
    margin-left: 0;
}
#sidebarCollapse{
    position: fixed;
    top: 3.3rem;
    left: 0;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    padding: 0.25rem 0.5rem;
    display: block;
}
#sidebarCollapse.active{
    left: 250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #2c2e38;
}

.sub-heading {
    padding: 5px 10px;
    font-size: 16px;
    background: #4b515d!important;
    display: block;
    margin-bottom: 0;
}
.container-box ul{
    margin-bottom: 0;
}
.container-box ul {
    margin-left: 0;
}
.container-box{
    padding: 10px 15px;
}
#sidebar label{
    margin-bottom: 0;
}
#sidebar .form-control{
    border-radius: 0.1rem;
    padding-left: 5px;
    padding-right: 5px;
}
.range-box{
    padding: 20px 10px;
}
.range-box input{
    padding: 0px 5px;
    border-radius: 2px;
    min-width: 100px;
    max-width: 100px;
}
#sidebar .row{
    margin: 0;
}
.separator{
    padding: 0 5px;
    max-width: 15px;
}
.card-body{
    padding: 0.75rem;
}
.card:hover{
    cursor: pointer;
    box-shadow: 4px 6px 8px 0 rgba(112, 22, 22, 0.16), 4px 6px 16px 0 rgba(255, 20, 20, 0.12);
}
@media only screen and (min-width: 768px) {
    #sidebar{
        margin-left: 0;
    }
    #sidebar.active{
        margin-left: -250px;
    }
    #sidebarCollapse{
        left: 250px;
        padding: .5rem 1.6rem;
        display: none;
    }
    #sidebarCollapse.active{
        left: 0;
    }
    body{
        padding-left: 280px;
        overflow-x: hidden;
    }
    .card{
        max-width: 260px;
    }
}

/* responsively enforce wrapping */
.card-deck span {
    display: none;
}

@media (min-width:1200px){
  .card-deck span:nth-of-type(5n) {
    display: block;
    width: 100%;
  }
}
@media (min-width:992px) and (max-width: 1199px) {
 .card-deck span:nth-of-type(4n) {
    display: block;
    width: 100%;
  }
}
@media (min-width:768px) and (max-width: 991px) {
  .card-deck span:nth-of-type(3n) {
    display: block;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card-deck span:nth-of-type(2n) {
    display: block;
    width: 100%;
  }
}