{% load static %}
<script type="text/javascript" src="{% static 'MDB Free/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MDB Free/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'MDB Free/js/mdb.min.js' %}"></script>
{% comment %} <script src="{% static 'js/sidebar.js' %}"></script> {% endcomment %}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.js' %}"></script>
{% comment %} <script src="{% static 'js/select2.js' %}"></script> {% endcomment %}
<script src="{% static 'js/selectize.js' %}"></script>
<script src="{% static 'js/zebra_datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.confirm.js' %}"></script>
<script src="{% static 'js/jquery.panzoom.min.js' %}"></script>
<script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'js/toastr.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<!-- <script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM8hfl_jO8yNJzRwRAyo3Q0siCBjYgSRQ"></script> -->
<script src="{% static 'js/script.js' %}"></script>
