{% load static %}

<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'MDB Free/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'MDB Free/css/mdb.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/image-upload.css' %}">
<link rel="stylesheet" href="{% static 'css/zebra_datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/select2.css' %}"> {% endcomment %}