{% load static %}
{% load sass_tags %}
{% load lodging_filters %}
<script>
  var API_PREFIX = '/api/';
  var csrf_token = '{{csrf_token}}';
  var mobile_number = '{{user.mobile_number}}';
  var profile_image_url = '{% url "image:upload" ad_type="user-profile" %}';
  var roomie_image_url = '{% url "image:upload" ad_type="property" %}';
  var image_upload_url = '{% url "image:upload" ad_type="property" %}';
  var create_property_url = "{% url 'lodging_ajax:create' %}";
  var google_api_key="AIzaSyBM8hfl_jO8yNJzRwRAyo3Q0siCBjYgSRQ";
  var tag_url="{% url 'image:action' action='add-tag' %}";
  var images_url="{% url 'image:action' action='images' %}";
  var delete_image_url="{% url 'image:action' action='delete' %}";
  var loading_icon_big="{% static 'images/Spinner-1s-200px.gif' %}";
  var my_ads_url = "{% url 'ads:my-ads' %}";
  var my_bookings_url = "{% url 'ads:my-bookings' %}";
  var STATIC_URL = "{% static '' %}";
  var vrview_url = "{% url 'vrview' %}";
  function get_property_ad_edit_url(ad){
    return "{% url 'lodging_ajax:edit' ad_id='ad_id' %}".replace('ad_id',ad.id);
  }
  var validate_tour_link_url = "{% url 'lodging_ajax:validate-tour-link' %}";
  var user_data = JSON.parse("{{ user | serialize_user | escapejs}}");
  function get_paginated_ads_url(page_no){
    return "{% url 'ads:paginated-ads' page_no='1' %}".replace('1',page_no);
  }
  var detail_view_url = '{% url "ads:ad-detail-view" %}';
  function get_property_details_url(lodging_id){
    return "{% url 'ads:property-details' lodging_id='13232' %}".replace('13232',lodging_id);
  }
</script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'MDB Free/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% sass_src 'MDB Free/scss/mdb.scss' %}" rel="stylesheet" type="text/css" />
<link href="{% sass_src 'css/styles.scss' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/image-upload.css' %}">
<link rel="stylesheet" href="{% static 'css/zebra_datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">


<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>