{% load static %}
<script>
  var API_PREFIX = '/api/';
  var csrf_token = '{{csrf_token}}';
  var mobile_number = '{{user.mobile_number}}';
  var image_url = API_PREFIX + 'upload/image/user-profile/';
  var roomie_image_url = API_PREFIX + 'upload/image/roomie-ad/';
  var create_property_url = "{% url 'lodging_ajax:create' %}";
  var google_api_key="AIzaSyBM8hfl_jO8yNJzRwRAyo3Q0siCBjYgSRQ";
  var tag_url="{% url 'image:action' action='add-tag' %}";
  var delete_image_url="{% url 'image:action' action='delete' %}";
  var loading_icon_big="{% static 'images/Spinner-1s-200px.gif' %}";
</script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'MDB Free/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'MDB Free/css/mdb.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/image-upload.css' %}">
<link rel="stylesheet" href="{% static 'css/zebra_datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.css' %}">
<link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
<link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">


<script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>