{% load static %}

<!-- <div class="ads_circle_dropdown_container mobile">
  <div class="ads_circle color-3 z-depth-3" 
    data-toggle="modal"
    data-target="#modalPropertyAdForm"
    id="new_ads_circle" 
    aria-expanded="false">
    <span>New Ad</span>&nbsp;
  </div>
</div> -->

{% if messages %}
<div class="messages-container">
  {% for message in messages %}
  <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon" {% endif %}>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}
