{% load static %}

<nav class="mb-1 fixed-top navbar navbar-dark stylish-color">
  <a class="navbar-brand" href="{% url 'home:front-page' %}">
    <img src="{% static 'images/logo.png' %}" alt="onlease logo" class="logo">
  </a>
  <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item dropdown desktop">
      <!-- {% comment %}<a class="nav-link dropdown-toggle waves-effect waves-light btn btn-sm btn-info" id="newAdsLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
        New Ad
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="newAdsLink">
        {% if user.is_verified %}
        <a class="dropdown-item waves-effect" data-toggle="modal" data-target="#modalPropertyAdForm">
        {% else %}
        <a class="dropdown-item waves-effect" data-toggle="modal" data-target="#modalEnterNumberForm" data-action="verify-number">
        {% endif %} Property
        </a>
        {% if user.is_verified %}
        <a class="dropdown-item waves-effect" data-toggle="modal" data-target="#modalRoomieAdForm">
        {% else %}
        <a class="dropdown-item waves-effect" data-toggle="modal" data-target="#modalEnterNumberForm" data-action="verify-number">
        {% endif %} Mates
        </a>
      </div>{% endcomment %} -->
      <a class="desktop nav-link color-4 waves-effect waves-light btn btn-sm btn-info" 
        {% if not user.is_verified %}
        data-target="#modalLoginForm"
        {% else %}
        data-target="#modalPropertyAdForm"
        {% endif %}
        id="newProperty" 
        data-toggle="modal"
        aria-haspopup="true"
        aria-expanded="true">
        New Ad
      </a>
    </li>
    <li class="nav-item dropdown-md">
      <a class="nav-link dropdown-toggle waves-effect waves-light text-capitalized" 
        id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-user-circle-o fs-4"></i></a>
      <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item waves-effect waves-light text-capitalized" 
          data-toggle="modal" data-target="#modalUserProfileForm">
          My Profile</a>
        <!-- <a class="dropdown-item waves-effect waves-light text-capitalized"
          onclick="get_my_ads()">
          My Ads</a> -->
        {% if not user.is_verified %}
        <a class="dropdown-item waves-effect waves-light text-capitalized" data-toggle="modal" data-target="#modalEnterNumberForm"
          data-action="verify-number">
          Verify your number</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-capitalized waves-effect waves-light" data-action="logout">
          Log out</a>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link waves-effect fs-3-5 waves-light text-capitalized mobile" 
        data-toggle="modal" 
        data-target="#modalLoginForm">
        <i class="fa fa-sign-in"></i></a>
      <a class="nav-link waves-effect waves-light d-flex align-items-center text-capitalized desktop" 
        data-toggle="modal" 
        data-target="#modalLoginForm">
        <i class="fa fa-sign-in"></i>&nbsp;Login</a>
    </li>
    <li class="nav-item {% block register_active %}{% endblock %}">
      <a class="nav-link waves-effect waves-light fs-3-5 text-capitalized mobile" 
        data-toggle="modal" 
        data-target="#modalRegisterForm">
        <i class="fa fa-user-plus"></i></a>
      <a class="nav-link waves-effect d-flex align-items-center waves-light text-capitalized desktop" 
        data-toggle="modal" 
        data-target="#modalRegisterForm">
        <i class="fa fa-user-plus"></i>&nbsp;Register</a>
    </li>
    {% endif %}
  </ul>
</nav>