{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}{% endblock %}</title>
        
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'MDB Free/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'MDB Free/css/mdb.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
        {% block head %}{% endblock %}
    </head>
    <body class="padding-top-3">

        <div id="mySidenav" class="sidenav scrollbar-dusty-grass square thin">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'home:front-page' %}">
                <i class="fa fa-home"></i> Home</a>
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard:home' %}">
                <i class="fa fa-dashboard"></i> Dashboard
            </a>
            {% endif %}
            <div data-toggle="#view">
                <i class="fa fa-eye"></i> View All</div>
            <ul id="view" class="toggle">
                {% comment %} <a href="{% url 'ads:choose-location' %}?type=dealer">
                    <li>Dealer's Ad</li>
                </a> {% endcomment %}
                <a href="{% url 'ads:choose-location' %}">
                    <li>Owner's Ad</li>
                </a>
                <a href="{% url 'ads:choose-location' %}?type=roomie">
                    <li>Roommate's Ad</li>
                </a>
            </ul>
            <div data-toggle="#add">
                <i class="fa fa-plus"></i> Add New</div>
            <ul id="add" class="toggle">
                <a href="{% url 'lodging:create' %}"><li>Property</li></a>
                <a href="{% url 'roommate:create' %}"><li>Roommate Ad</li></a>
            </ul>
            {% if user.is_authenticated %}
            <div data-toggle="#account">
                <i class="fa fa-user"></i> My Account</div>
            <ul id="account" class="toggle">
                <li>
                    <a href="{% url 'dashboard:profile' %}">My Profile</a>
                </li>
                <li>
                    <a href="{% url 'user:change-password' %}">Change Password</a>
                </li>
                <li>
                    <a href="{% url 'user:logout' %}">Logout</a>
                </li>
            </ul>
            {% else %}
            <a href="{% url 'user:register' %}">Register</a>
            <a href="{% url 'user:login' %}">Log In</a>
            {% endif %}
        </div>

        <nav class="mb-1 fixed-top navbar navbar-dark stylish-color">
            <ul class="mobile navbar-nav mr-2">
                <li class="nav-item">
                    <span class="sidenav-opener" onclick="openNav()">
                    &#9776;</span>
                </li>
            </ul>
            <a class="navbar-brand" href="{% url 'home:front-page' %}">
                <img src="{% static 'images/logo.png' %}" alt="onlease logo" class="logo">
                OnLease
            </a>
            <ul class="mobile navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {% if user.profile %}
                        <img src="{{user.profile.image_thumbnail.url}}" alt="profile photo icon" class="nav-profile">
                        {% else %}
                        <i class="fa fa-user-circle-o" class="nav-profile-icon"></i>
                        {% endif %}    
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="account">
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'dashboard:profile' %}">
                            My Profile</a>
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:change-password' %}">
                            Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:logout' %}?type=roomie">
                            Log Out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                    <a href="{% url 'user:login' %}" class="nav-link waves-effect waves-light">
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:register' %}" class="nav-link waves-effect waves-light">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
            <ul class="desktop navbar-nav ml-auto">
                <li class="nav-item {% block home_active %}{% endblock %}">
                    <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'home:front-page' %}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light text-capitalized" id="view_all" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-eye"></i> View all</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="view_all">
                        {% comment %} <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'ads:choose-location' %}?type=dealer">
                            Dealer's Ad</a> {% endcomment %}
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'ads:choose-location' %}">
                            Owner's Ad</a>
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'ads:choose-location' %}?type=roomie">
                            Roommate's Ad</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light text-capitalized" id="view_all" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-plus"></i> Add new</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="view_all">
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'lodging:create' %}">
                            Property Ad</a>
                        <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'roommate:create' %}">
                            Roommate Ad</a>
                    </div>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {% block dashboard_active %}{% endblock %}">
                        <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'dashboard:home' %}">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light text-capitalized" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i> {{user.first_name | lower}} </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'dashboard:profile'%}">
                                My Profile</a>
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:change-password'%}">
                                Change password</a>
                            {% if not user.is_verified %}
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:verify-number'%}">
                                Verify mobile number</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-capitalized waves-effect waves-light" href="{% url 'user:logout' %}">
                                Log out</a>
                        </div>
                    </li>
                    {% if not user.is_verified %}
                        <a id="mobile-number" class="btn btn-deep-orange btn-sm text-capitalized" href="{% url 'user:verify-number'%}">
                            Verify your number</a>
                    {% endif %}
                {% else %}
                <li class="nav-item {% block login_active %}{% endblock %}">
                    <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'user:login' %}">
                    <i class="fa fa-sign-in"></i> Log In</a>
                </li>
                <li class="nav-item {% block register_active %}{% endblock %}">
                <a class="nav-link waves-effect waves-light btn btn-sm btn-default text-capitalized" href="{% url 'user:register' %}">
                    <i class="fa fa-user-plus"></i> Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>

        {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                    {{message}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
                      
        
        {% block content %}{% endblock %}

        <footer class="page-footer font-small blue pt-4 mt-4">

            <!--Footer Links-->
            <div class="container-fluid text-center text-md-left">
                <div class="row wow">
        
                    <div class="col-md-2">
                        <p class="column-title white-text">
                            <strong>USEFUL LINKS</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'dashboard:home' %}">Dashboard</a>
                            </li>
                            <li>
                                <a href="{% url 'ads:choose-location' %}">Search Ads</a>
                            </li>
                            <li>
                                <a href="{% url 'user:login' %}">Log in</a>
                            </li>
                            <li>
                                <a href="{% url 'user:register' %}">Register</a>
                            </li>
                        </ul>
                    </div>
        
                    <div class="col-md-2">
                        <p class="column-title white-text">
                            <strong>IMPORTANT LINKS</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'legal:privacy' %}">Terms</a>
                            </li>
                            <li>
                                <a href="{% url 'legal:terms' %}">Privacy</a>
                            </li>
                            <li>
                                <a href="{% url 'user:contact' %}">Contact Us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <p class="column-title white-text text-uppercase">
                            <strong>Add your business</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'lodging:create' %}">Lodging</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <p class="column-title white-text text-uppercase">
                            <strong>Sponsor</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <p class="column-title white-text text-uppercase">
                            <strong>contact</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                <a href="{% url 'user:contact' %}">
                                <i class="fa fa-envelope"></i>
                                Send Email
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-whatsapp"></i>
                                9050183280
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                9050183280
                            </li>
                            <li>
                                <a target="_blank" href="https://tawk.to/chat/5adef5845f7cdf4f05338e80/default/?$_tawk_popout=true" class="btn btn-deep-orange btn-sm">
                                    <i class="fa fa-comments"></i>    Chat with us
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-2">
                        <p class="column-title white-text text-uppercase">
                            <strong>ADDRESS</strong></p>
                        <ul class="list-unstyled">
                            <li>
                                Behind shiv mandir, shiv mandir colony
                            </li>
                            <li>
                                Safiabad, Sonipat, Haryana
                            </li>
                            <li>
                                131029
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/.Footer Links-->
        
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                © 2018 Copyright:
                <a href="/"> OnLease.in </a>
            </div>
            <!--/.Copyright-->
        
        </footer>

        {% comment %} <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="loginForm" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fa fa-envelope prefix grey-text"></i>
                            <input type="email" id="defaultForm-email" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                        </div>
        
                        <div class="md-form mb-4">
                            <i class="fa fa-lock prefix grey-text"></i>
                            <input type="password" id="defaultForm-pass" class="form-control validate">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                        </div>
        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Login</button>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'MDB Free/js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'MDB Free/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'MDB Free/js/mdb.min.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% block script %}{% endblock %}

    </body>
</html>
