{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'MDB Free/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'MDB Free/css/mdb.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
    <style>
      .dropdown-menu-right { 
        right: 0; 
        left: auto; 
      }
    </style>
  </head>
  <body class="padding-top-3">
    <nav class="mb-1 fixed-top navbar navbar-expand-md navbar-dark stylish-color">
        <a class="navbar-brand" href="{% url 'home:front-page' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="onlease logo" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% block home_active %}{% endblock %}">
                    <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'ads:choose-location' %}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item {% block ads_active %}{% endblock %}">
                    <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'ads:choose-location' %}">
                        <i class="fa fa-search"></i> Search Ads
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item {% block dashboard_active %}{% endblock %}">
                        <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'dashboard:home' %}">
                            <i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light text-capitalized" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i> {{user.first_name | lower}} </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'dashboard:profile'%}">
                                Profile</a>
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:change-password'%}">
                                Change password</a>
                            {% if not user.is_verified %}
                            <a class="dropdown-item waves-effect waves-light text-capitalized" href="{% url 'user:verify-number'%}">
                                Verify mobile number</a>
                            {% endif %}
                            <a class="dropdown-item text-capitalized waves-effect waves-light{% if not user.is_verified %} disabled{% endif %}" href="{% url 'lodging:create'%}">
                                Add new business</a>
                            <div class="dropdown-dividerx"></div>
                            <a class="dropdown-item text-capitalized waves-effect waves-light" href="{% url 'user:logout' %}">
                                Log out</a>
                        </div>
                    </li>
                    {% if not user.is_verified %}
                        <a id="mobile-number" class="btn btn-deep-orange btn-sm text-capitalized" href="{% url 'user:verify-number'%}">
                            Verify your number</a>
                    {% else %}
                        <a class="btn btn-deep-orange btn-sm text-capitalized" href="{% url 'lodging:create'%}">
                                Add new business</a>
                    {% endif %}
                {% else %}
                <li class="nav-item {% block login_active %}{% endblock %}">
                    <a class="nav-link waves-effect waves-light text-capitalized" href="{% url 'user:login' %}">
                      <i class="fa fa-sign-in"></i> Log In</a>
                </li>
                <li class="nav-item {% block register_active %}{% endblock %}">
                  <a class="nav-link waves-effect waves-light btn btn-sm btn-default text-capitalized" href="{% url 'user:register' %}">
                    <i class="fa fa-user-plus"></i> Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
            <div{% if message.tags %} class="custom-{{ message.tags }} mt-2 message icon"{% endif %}>
                {{message}}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% block content %}{% endblock %}

    <footer class="page-footer font-small blue pt-4 mt-4">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left">
            <div class="row wow">
    
                <div class="col-md-3">
                    <p class="column-title white-text">
                        <strong>USEFUL LINKS</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'dashboard:home' %}">Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'ads:choose-location' %}">Search by location</a>
                        </li>
                        <li>
                            <a href="{% url 'user:login' %}">Log in</a>
                        </li>
                        <li>
                            <a href="{% url 'user:register' %}">Register</a>
                        </li>
                    </ul>
                </div>
    
                <div class="col-md-3">
                    <p class="column-title white-text">
                        <strong>IMPORTANT LINKS</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'legal:privacy' %}">Terms</a>
                        </li>
                        <li>
                            <a href="{% url 'legal:terms' %}">Privacy</a>
                        </li>
                        <li>
                            <a href="{% url 'user:contact' %}">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <p class="column-title white-text text-uppercase">
                        <strong>Add your business</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'lodging:create' %}">Lodging</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <p class="column-title white-text text-uppercase">
                        <strong>Sponsor</strong></p>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://msg91.com/startups/?utm_source=startup-banner"><img src="https://msg91.com/images/startups/msg91Badge.png" width="120" height="90" title="MSG91 - SMS for Startups" alt="Bulk SMS - MSG91"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.Footer Links-->
    
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="/"> OnLease.in </a>
        </div>
        <!--/.Copyright-->
    
    </footer>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'MDB Free/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'MDB Free/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'MDB Free/js/mdb.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    
    {% block script %}{% endblock %}

</body>
</html>
