<mat-card class="transaction-box">
  <ng-container *ngIf="transaction?.status == '0'; else failedTemplate">
    <mat-card-title class="success">
      <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Payment {{transactionStatus}}
    </mat-card-title>
    <div class="contact-details-text">Contact details</div>
    <div class="address">
      {{address.text}} <br>
      {{address.google_place_main_text}} <br>
      {{address.google_place_secondary_text}} <br>
    </div>
    <div class="phone-numbers">{{ownerPhoneNumbers}}</div>
  </ng-container>
  <ng-template #failedTemplate>
    <mat-card-title class="fail">
      <fa-icon [icon]="['fas', 'times-circle']"></fa-icon> Payment {{transactionStatus}}
    </mat-card-title>
    <mat-card-subtitle class="mt-4">
      Please note transaction id: <b>{{transaction?.trans_id}}</b> <br>
      Contact on <b>8287560922</b> if need assisstance
    </mat-card-subtitle>
  </ng-template>
</mat-card>