{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Confirm order{% endblock %}

{% block content %}
<div class="continer-fluid d-flex justify-content-center">
    <div class="sub-container" id="center">
        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    <ul>
                        <li>A refund can be genrated after successfull transaction if you do not like it in any case.</li>
                        <li>Refund option will be available instantly after your successfull transaction in your dashboard.</li>
                        <li>Refund will be available only for 3 days.</li>
                        <li>Your transaction is fully secured with 128 bit end to end encryption.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="mt-2">
            <div>
                <a href="{% url 'transactions:lodging-redirect-to-instamojo' state=state state_id=state_id district=district district_id=district_id ad_id=ad_id %}" class="btn btn-default btn-md">
                    PAY &nbsp;&nbsp; <i class="fa fa-inr"></i> {{amount}}
                </a>
                <a href="{% url 'ads:detail' state=state state_id=state_id district=district district_id=district_id ad_id=ad_id slug=slug %}" class="btn btn-danger btn-md">
                    CANCEL
                </a>
            </div>
            <small class="text-muted"><a href="{% url 'legal:terms' %}">T&C apply</small>
        </div>
    </div>
</div>
{% endblock %}