{% extends 'navbar.html' %}
{% load widget_tweaks %}
{% block title %}Successful transaction{% endblock %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'transactions/success.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="sub-container">
        <div class="success-message text-capitalize alert alert-success">
            <i class="fa fa-check-circle text-green"></i>
            Transaction successfull
        </div>
        <div class="card mt-1">
            <div class="card-body">
                <p class="card-text">
                    Transaction Id: {{transaction.id}}
                </p>
                <p class="card-text">Contact details has been sent to your registered 
                    email. These are also accessible through your 
                    <a href="{% url 'dashboard:home' %}">Dashboard</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}