{% extends "base_templates/base_template_1.html" %} 
{% load widget_tweaks %} 
{% block title %}Successful transaction{% endblock%}
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'transactions/success.css' %}"> 
{% endblock %} 

{% block content %}
<div class="container-fluid d-flex justify-content-center mt-5">
  <div class="sub-container">
    <div class="card mt-3">
      <div class="card-header">
        {% if success %}
        <div class="success-message text-capitalize text-center">Thank You</div>
        {% else %}
        <div class="fail-message text-capitalize text-center">Sorry</div>
        {% endif %}
      </div>
      <div class="card-body text-center">
        <h2 class="card-text fs-5">
          {% if success %}
          <i class="fa fa-check-circle"></i> Your transaction of <i class="fa fa-inr mr-1"></i>
          {{transaction.amount}} was successfull.
          {% else %}
          <i class="fa fa-times-circle"></i> Your transaction of <i class="fa fa-inr mr-1"></i>
          {{transaction.amount}} was unsuccessfull.
          {% endif %}
        </h2><br>
        <p class="card-text fs-3">Transation id:
          <strong>{{transaction.trans_id}}</strong>
        </p><br>
      </div>
      {% if success %}
      <div class="card-footer text-center">
          We will soon send you confirmation message and contact details to your registered mobile number.
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}