<form class="number-form" *ngIf="!optSent" (ngSubmit)="sendOtp()" [formGroup]="numberForm">
  <h2>Reset password</h2>
  <mat-form-field class="w-100">
    <mat-label>Mobile number</mat-label>
    <input matInput type="tel" required formControlName="mobile_number">
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" [disabled]="!numberForm.valid">Submit</button>
</form>

<form class="reset-password-form" *ngIf="optSent" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
  <h2>Reset Password</h2>
  <mat-form-field class="w-100">
    <mat-label>OTP</mat-label>
    <input matInput required formControlName="otp">
    <mat-error *ngIf="resetPasswordForm.get('otp')!.hasError('required')">
      OTP is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>New Password</mat-label>
    <input matInput required type="password" formControlName="password">
    <mat-error *ngIf="resetPasswordForm.get('password')!.hasError('required')">
      New password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="w-100">
    <mat-label>Confirm new Password</mat-label>
    <input matInput required type="password" formControlName="confirm_password">
    <mat-error *ngIf="resetPasswordForm.get('confirm_password')!.hasError('required')">
      Confirm new password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent" [disabled]="!resetPasswordForm.valid">Submit</button>
</form>
